<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app/index.js"></script>
<footer class="footer">
    <nav>
        <a href="http://ssiancode.tistory.com" target="_blank" class="bi bi-bookmark-heart-fill"> Tistory Blog </a>
    </nav>
    <p>
        <span> Made In : Ssian </span> <br/>
        <span> Email : ssian1024@gmail.com </span> <br/>
        <span> Copyright 2023. ssian. All Rights Reserved. </span>
    </p>
</footer>
</body>
</html>