/* footer 하단 고정 [S] */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;

    text-align: center;
    background-color: #999;
    margin: 0;
}

main {
    margin-top:50px;
    margin-left: 250px;
}

footer {
    width: 100%;
    height: 90px; /* footer의 높이 */
    position: absolute;
    bottom: 0;
    border-top: 1px solid #c4c4c4;
    padding-top: 15px;
    color:#808080;
    font-size:11px
}
/* footer 하단 고정 [E] */