{{>layout/header}}

<br>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div>
                <label for="title"> 제목 </label>
                <input type = "text" id = "title" name = "title" class ="form-control" maxlength="20">
                <label class = "text-danger" id = "titleValidMessage" name ="validMessage"></label>
            </div>
            <div>
                <label for="author"> 작성자 </label>
                <input type = "text" id = "author" name = "author" class ="form-control" maxlength="20">
                <label class = "text-danger" id = "authorValidMessage" name ="validMessage"></label>
            </div>
            <div>
                <label for="content"> 내용 </label>
                <input type = "text" id = "content" name = "content" class ="form-control" maxlength="20">
                <label class = "text-danger" id = "contentValidMessage" name ="validMessage"></label>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary" id="cancelButton">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>

{{>layout/footer}}